*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: #333333;  
    align-items: center;
    height: 10vh; 
    padding: 0 150px;
    color: white;
}

ul{
    display: flex;
    list-style-type: none;
}

li{
    margin: 5px;
}

footer{
    background-color: #333333;
    height: 10vh;
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    margin-top: 10px;
}

.first{
    background-color: rgb(237, 237, 237);
    border-radius: 5px;
    width: 800px;
    height: 150px;
    margin-top: 10px;
    margin-left: 150px;
}

.second{
    background-color: rgb(237, 237, 237);
    border-radius: 5px;
    width: 800px;
    height: 280px;
    margin-left: 150px;
}

h4, h5, p{
    padding-left: 20px;
}